
*.pyc
server_rest_api/src/clients/migrations/0001_initial.py
server_rest_api/.idea/inspectionProfiles/profiles_settings.xml
server_rest_api/.idea/inspectionProfiles/Project_Default.xml
server_rest_api/.idea/misc.xml
server_rest_api/.idea/modules.xml
server_rest_api/.idea/server_rest_api.iml
server_rest_api/.idea/vcs.xml
remote_client_ak/.idea/inspectionProfiles/profiles_settings.xml
remote_client_ak/.idea/inspectionProfiles/Project_Default.xml
remote_client_ak/.idea/misc.xml
remote_client_ak/.idea/modules.xml
remote_client_ak/.idea/remote_client_ak.iml
remote_client_ak/.idea/vcs.xml
remote_management_console/.idea/inspectionProfiles/profiles_settings.xml
remote_management_console/.idea/misc.xml
remote_management_console/.idea/modules.xml
remote_management_console/.idea/remote_management_console.iml
remote_management_console/.idea/UI_remote_console.iml
remote_management_console/.idea/vcs.xml
remote_client_generic/.idea/inspectionProfiles/profiles_settings.xml
remote_client_generic/.idea/inspectionProfiles/Project_Default.xml
remote_client_generic/.idea/misc.xml
remote_client_generic/.idea/modules.xml
remote_client_generic/.idea/remote_client_generic.iml
remote_client_generic/.idea/vcs.xml
remote_client_zed/.idea/inspectionProfiles/Project_Default.xml
remote_client_zed/.idea/inspectionProfiles/profiles_settings.xml
remote_client_zed/.idea/misc.xml
remote_client_zed/.idea/modules.xml
*.iml
